apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
 name: argocd-ingress
 namespace argocd
 annotations:
  nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
 spec:
  ingressClassName: nginx
  rules:
  - host: argo.192.168.1.4.nip.io
    http:
     paths:
     - path: /
      pathType: Prefix
      backend:
       service:
        name: argocd-server
        port:
         number: 443